@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Righteous&display=swap');

.title
{
    height: 100vh;
    justify-content: center;
    display:flex;
    align-items: center;
    position: sticky;
    z-index: -1;
}

h1
{
    position: absolute;
    font-size: 3em;
    font-weight: lighter;
    color: var(--third-color);
    font-family: 'Climate Crisis', cursive;
    animation: title_animation 1s ease-in-out both, title_moving_animation 5s ease-in-out 1s infinite both;
    width: 50%;
    text-align: center;
}



::-webkit-scrollbar
{
    display: none;
}

h2,p
{
  color:white;
}




@keyframes title_animation {
    from 
    {
        transform: translateY(-5em);
        opacity: 0;
    }    
    to
    {
        transform: translateY(-1em);
        opacity: 1;
    }
}

@keyframes title_moving_animation{
    0% 
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(-10px);
    }
    100%
    {
        transform: translateY(0px);
    }
}

#texte-explicatif
{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte
{
    width: 50%;
    font-size: 1.5em;
    font-family: 'Righteous', cursive;
    text-align: center;
    padding: 2em;
    background-color: var(--third-color);
    border-radius: 1em;
    color: white;
    animation: title_animation 1s ease-in-out 1s both;
}
